/*General Styling */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
}

header {
  background-image: url(images/color-bg.png);
  background-size: cover;
  padding: 1%;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 0 black;
}

button {
  cursor: pointer;
}

.section3 img,
.section5 img {
  width: 15%;
}

.section4 img {
  width: 8%;
}

/* Hide Radio behind image- allows for accessability (tab keyboard function and focus) */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Image/Radio */
[type="radio"] + img {
  cursor: pointer;
}

/* Image/Radio Checked */
[type="radio"]:checked + img {
  outline: 2px solid #f00;
}

/*Image/Checkbox */
[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}

/* Image/Checkbox Checked */
[type="checkbox"]:checked + label {
  outline: 2px solid #f00;
}
